@media (min-width:1024px) {
  #man-wapper{
    display:flex;
    flex-direction:row-reverse;
    margin-top: 0;
    margin-bottom: 0;
    margin: auto;
    padding: 0rem;
  }

  .content{
    width: 50%;
    height: 50%;
    background:  hsl(244, 38%, 16%);
    color: rgb(255, 255, 255);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 0rem;
  }
  

  .sta{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content:space-around;
    margin-top: 2rem;
  }

  .image{
    width: auto;
    height: 50%;
    display: block;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 0;
  }
  img{
    height: 100%;
    width: 100%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 0;
  }
  

}